


<img style="height: 300px;width: 450px; margin-left: auto; margin-right: auto; display: block;" src="../assets/pkm.png">


<h2 style="font-weight: bold; text-align: center;">Pokemon Query</h2>
<input id="inputtext" type="text" class="form-control"  (keyup.enter)="OnInput($event)" style="align-items: center; margin-left: auto; margin-right: auto; display: flex; font-size: 60px;" >




<table>
 

  <tbody  *ngIf="scp$ | async as scp" >



  <img  style="height: 250px; width: 250px;"  src={{scp.sprites.front_default}}>

     <thead class="center" style="align-items: center; margin-left: auto; margin-right: auto; display: flex;">
<tr>
  <th style="font-size: 60px;align-items: center; margin-left: auto; margin-right: auto; display: flex; align-self: center; align-content: center;">Nome</th>
</tr>

  </thead>


    <tr >
      <td style="font-size: 60px;">{{scp.name}}</td>
      
    </tr>


    <thead >
    <tr>
      <th style="font-size: 60px;">Indice na Pokedex</th>
    </tr>
  </thead>


    <tr >
      <td style="font-size: 40px;">{{scp.order}}</td>
    </tr>


  </tbody>
</table>